

.dashboard-container {
  display: flex;
    height: 100vh;          /* Full viewport height */
  overflow: hidden; 
  
}

.sidebar {
  width: 250px; 
  flex-shrink: 0;
}

.dashboard-content {
  flex-grow: 1; 
}
